<html>
	<header>
		<link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet'></link>
	</header>
	<body>
	<form class="form-horizontal" action="/autentica/entra" method="post">
	<br/>
	<center><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c64.64.800.800/s200x200/313033_297945920220316_1938504801_n.jpg?oh=ccbaf185d4b78430e137fec7bb1e769e&oe=57FA4F85&__gda__=1476774102_73c352d7f2831d68741970cea163f8db" class="img-rounded"></center>
	<br/><br/>
  <div class="form-group">
    <label for="login" class="col-sm-2 control-label">Login</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="login" id="login" placeholder="Login">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Entrar</button>
    </div>
  </div>
</form>
	</body>
</html>

